.list .contain-thumbnail {
	float: left;
	height:200px;
 	max-width: 200px;
 	overflow: hidden;
 	margin: 0 20px 0 0;
}

.list .entry-thumbnail {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	position: center;
}

#footer .entry-title a {
	text-decoration: none !important;
}

.widget_newsletter button {
    display: inline;
}

.featured-big .entry-thumbnail {
	width: auto;
	height: auto;
	max-width: 472px;
	max-height: 265px;
	position: center;
}
.featured-small .entry-thumbnail {
	width: auto;
	height: auto;
	max-width: 216px;
	max-height: 121px;
	position: center;
}

.editormd-html-preview, .editormd-preview-container {
	padding: 0;
}

.markdown-body {
	font-size: 15px;
	text-align: justify;
}

.respond-form button {
	display: inline-block !important;
}

.respond-form .gray-button {
	line-height: 1;
	padding: .5em .75em;
	border: 0;
	border-bottom: .24em solid #ccc;
	border-radius: .125em;
	font-size: 12px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background: #ddd !important;
	color: #999 !important;
	-webkit-appearance: none;
}

.respond-form .gray-button:hover {
	background: #999 !important;
	border-bottom-color: #555;
	color: #fff !important;
}

/*message style*/
.message-success, .success {
	color: #33cc33;
}

.message-error, .error {
	color: #ff4d4d;
}

#footer .widget_posts_thumbnail .entry-meta {
	margin-left: 67px;
}

.related-posts .related-thumbnail {
	height: 96px;
	display: block;
	overflow: hidden;
	margin-bottom: 5px;
}

/* for block of numbers */
td.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-align: center;
	color: #ccc;
	border-right: 1px solid #CCC;
	vertical-align: top;
	padding-right: 5px;

	/* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
	padding-left: 10px;
}

.hljs table tr, .hljs tabletr:nth-child(2n), .hljs table tr td {
	background-color: #f6f8fa;
	border: none;
}