.list .contain-thumbnail {
	float: left;
	height:200px;
 	max-width: 200px;
 	overflow: hidden;
 	margin: 0 20px 0 0;
}

.list .entry-thumbnail {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
	position: center;
}